h1{
    font-size: 40px;
    margin: 0;
}
h2{
    font-size: 20px;
    margin: 0;
}
h3{
  font-size: 20px;
  margin: 20px;
  color: blue;
}
p{
    text-align: center;
    font-size: 20px;
}
body{
    
    height: 3000px;
    background-color: #c26801;
    font-family: system-ui;
    color: white;
    margin: 0;
    
}
a{
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    color: black;
}
button{
    background-color: grey;
    color: white;
    margin: 20px;
    font-family: "Trebuchet MS";
    padding: 5px;
    border-radius: 10px;
}
.btn{
  font-size: 2vw;
}
.faixa{
  margin: 10px;
  background-color: black;
  text-align: center;
  justify-content: center;
}
.alter{
  margin: 10px;
  background-color: white;
  text-align: center;
  justify-content: center;
}
.test{
  margin: 10px;
  font-size: 15px;
}
#somador{
  color: black;
}
#secret{
  margin: 5px;
}
#h1Secret{
  color: red;
}
#buSecret{
  font-size: 15px;
}
#par{
  margin: 0;
  font-size: 15px
}
